body {
    background: #1F2937;
    position: absolute;
    width: 550px;
    height: 550px;
    left: 62px;
    top: 64px;
}
#Heading{
    height: 80px;
    width: 355px;
    margin-left: 47px;
}
#h1Gen{
    color: white;
}
#h1Ran{
    color: #4ADF86;
}
p{
    margin-top: 10px;
    margin-bottom: 42px; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #D5D4D8; 
    width: 372px;
    height: 28px;
    margin-left: 47px;
}
button{
    background: #10B981;
    color: white;
    border: none;
    height: 42px;
    width: 190px;
    left: 52px;
    top: 284px;
    border-radius: 6px;
    padding: 9px 17px 9px 15px;
    margin-left: 47px;
}

hr{
    color: #2F3E53;
    position: absolute;
    width: 400px;
    margin: 30px 0 30px 0;
    border: 1px solid #2F3E53;
    left: 52px;
}

#suggest-One {   
    position: absolute;
    width: 190px;
    height: 20px;
    left: 52px;
    margin: 60px 0 30px 0;
    background: #2F3E53;
    border-radius: 6px;
    color: #10B981;
    font-style: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
#suggest-Two{
    position: absolute;
    width: 190px;
    height: 20px;
    left: 267px;
    margin: 60px 0 30px 0;
    background: #2F3E53;
    border-radius: 6px;
    color: #10B981;
    font-style: bold;
    padding-top: 10px; 
    padding-bottom: 10px;
    text-align: center;
}